

body {
    font-family: 'News Cycle', sans-serif;
}
.jumbotron {
    background-color: navy;
    text-align: center;
    color: aliceblue;
}

.form-header {
    
    background-color: rgb(10, 10, 65);
    color: aliceblue;
    
}

.form-group {
    margin: 20px;
    
}

#my-border {
    border-radius: 20px;
    border: 1px solid black;
}

#my-header{
width: 100%;
text-align: center;
background: blue;
border-radius: 20px;
}